* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: darkblue;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 15px gray;
  width: 370px;
  text-align: center;
}

h1 {
  color: darkblue;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: red;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: 2px solid skyblue;
  border-radius: 8px;
}

#add-btn {
  padding: 10px 16px;
  border: none;
  background: limegreen;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#add-btn:hover {
  background: green;
}

#task-list {
  list-style: none;
  margin-top: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  margin-bottom: 10px;
  background: lavender;
  border: 2px solid plum;
  border-radius: 8px;
}

.task span {
  flex: 1;
  cursor: pointer;
  color: darkslateblue;
}

.task.completed span {
  text-decoration: line-through;
  color: gray;
}

.actions {
  display: flex;
  gap: 8px;
}

button.edit, button.delete {
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

button.edit {
  background: blue;
  color: white;
}

button.delete {
  background: yellow;
  color: white;
}

footer {
  margin-top: 20px;
  font-size: 13px;
  color: darkgreen;
}
